version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: meta_postgres
    restart: always
    environment:
      POSTGRES_USER: sova
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: metadb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: meta_redis
    restart: always
    ports:
      - "6379:6379"

volumes:
  postgres_data:
